import React from 'react';

import styles from './{{pascalCase name}}.module.css';

import { {{pascalCase name}}Props } from './{{pascalCase name}}.types';

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <div>{{pascalCase name}}</div>
  );
};